
HBARconfig

# geometry
radii 80um 200um 300um;
deltaR 0um;

# electrical parameters
contact 5Ohm 0nH;

# layers top to bottom
layer TE TopEl Pt     110nm "Top Electrode"
layer PL Piezo ASN26  500nm "Piezo Layer"
layer BE BotEl Pt      80nm "Bottom Electrode"
layer BA Adhsn Ti      40nm "Adhesion Layer"
layer BS Oxide SiO2   200nm "Oxide Layer"
layer BS Subst Si     725um "Substrate"
layer BS BckOx SiO2   200nm "Backside Oxide"
layer BS BckEl Au     100nm "Backside Metallization"

# codes: TE top electrode, BE bottom electrode, BA bottom adhesion layer, PL piezo layer, PS piezo seed layer, BS bottom substrate, 

parameter cPiezo 200GPa +-50;